[submodule "pp"]
	path = pp
	url = https://github.com/lclem/pp
[submodule "agda-stdlib"]
	path = agda-stdlib
	url = https://github.com/lclem/agda-stdlib
[submodule "thebe"]
	path = thebe
	url = https://github.com/lclem/thebe.git
[submodule "codemirror-agda"]
	path = codemirror-agda
	url = https://github.com/codewars/codemirror-agda.git
[submodule "agda-kernel"]
	path = agda-kernel
	url = https://github.com/lclem/agda-kernel
